<!DOCTYPE html>
<html>
  <head>
    <title>AnotherPinCo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.stripe.com/v3/"></script>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1><%= link_to "Another Pin Co", root_path %></h1>
        <nav>
            <%= link_to "Products", products_path %>
            <%= link_to "About us", info_path %>
            <%= link_to cart_path do %>
                Cart ($<%= @current_cart.total_price_in_dollars %>)
            <% end %>
        </nav>
    </header>

    <% if flash[:success].present? %>
      <div class="success-message">
        <%= flash[:success] %>
      </div>
    <% end %>

<main>
    <%= yield %>
</main>

    <footer>
        Copyright 2021
    </footer>


  </body>
</html>
